/dist
dkms
dkms.8
dkms.bash-completion
dkms.zsh-completion
dkms_framework.conf
dkms_autoinstaller
dkms.service
dkms_common.postinst
debian_kernel_install.d
debian_kernel_postinst.d
debian_kernel_prerm.d
redhat_kernel_install.d

test_cmd_expected_output.log
test_cmd_output.log
