[Unit]
Description=Builds and install new kernel modules through DKMS
Documentation=man:dkms(8)

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=dkms autoinstall --verbose --kernelver %v

[Install]
Before=network-pre.target graphical.target
WantedBy=multi-user.target
