Source: dkms
Section: admin
Priority: optional
Maintainer: Ubuntu MOTU Developers <ubuntu-motu@lists.ubuntu.com>
XSBC-Original-Maintainer: Matt Domsch <Matt_Domsch@dell.com>
Build-Depends: debhelper (> 5), cdbs
Standards-Version: 3.7.3
Vcs-git: http://linux.dell.com/git/dkms.git

Package: dkms
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
 awk, module-init-tools, bash (>> 1.99), linux-image, linux-headers
Recommends: patch, make, gcc, fakeroot
Description: Dynamic Kernel Module Support Framework
 This package contains the framework for the Dynamic Kernel Module
 Support (DKMS) method for installing and updating kernel modules.
 .
  Homepage:  http://linux.dell.com/dkms
