#!/usr/bin/make -f
include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/makefile.mk

GIT_BRANCH+=$(cat control | grep "Vcs-git" | awk '{ print $2 }')
TARFILE+=$(DEB_SOURCE_PACKAGE)_$(DEB_UPSTREAM_VERSION).orig.tar.gz

get-orig-source::
	git clone $(GIT_BRANCH) $(DEB_SOURCE_PACKAGE)
	tar czf $(CURDIR)/../$(TARFILE) $(DEB_SOURCE_PACKAGE) --exclude debian,.git
	rm -rf $(CURDIR)/$(DEB_SOURCE_PACKAGE)

../$(TARFILE):: get-orig-source

DEB_MAKE_CLEAN_TARGET    := clean-dpkg
DEB_MAKE_INSTALL_TARGET  := install-ubuntu DESTDIR=$(CURDIR)/debian/dkms
